<%= form_for [@user, @post], remote: true do |f| %>
  <div class="form-group">
    <%= f.label :text, "Tweet Here =>" %>
    <%= f.text_area :text %>
  </div>
  <%= f.submit "reply", :class => "btn btn-primary", :id => "reply" %>
<% end %>
